<template>
  <div id="app">
    <section>
  
  
      <section id="header">
        <span id="header-title">GameStation</span>
  
        <span id="show-nav-side-menu" @click="showSideNav()">
            <img src="./assets/images/icon/default/menu.png">
          </span>
  
        <ul id="gamestation-menu">
          <a href="#/">
            <li>Home</li>
          </a>
          <li><span class="dib por" id="language"><span data-toggle="dropdown" class="header-menu-item" aria-expanded="false" style="cursor: pointer;"><!-- react-text: 825 -->Dapps <!-- /react-text --><span class="caret" title=""></span></span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" style="width: 80px; text-align: left; padding-left: 8px; right: -45px; top: 80%;">
  
              <a href="#/dice">
                <li style="height: 25px;">&nbsp;&nbsp; - Dice</li>
              </a>
  
            </ul>
            </span>
          </li>
          <li>Dividends</li>
          <li>Scan</li>
          <li>Check In</li>
          <li>Lottery</li>
          <li>Referral</li>
          <li>FAQs</li>
          <li>Whitepaper</li>
  
        </ul>
        <ul id="gamestation-social-menu">
         
          <li style="border-right:1px solid  #707070">
             <a href="#" target="_blank"> <img src="./assets/images/icon/socialmedia/telegram-round.png"/></a>
          </li>
          <li>
           <a href="#" target="_blank"> <img src="./assets/images/icon/socialmedia/twitter-rounda.png"/></a>
          </li>
  
        </ul>
      </section>
  
      <section id="side-nav" :class="$root.sideNav==false?'hide':'show'">
  
        <div class="nav-close" @click="showSideNav()">
          <span> X</span>
        </div>
        <hr>
  
        <div id="nav-panel">
          <div :style="'position: relative; overflow: auto; width: auto;' +'height:' +(windowHeight - 210)+'px'">
            <ul>
              <li>
              <a>Home</a> </li>
              <li ><a>Dapps</a></li>
              <li> <a>Dividends</a></li>
              <li> <a>Scan</a></li>
              <li> <a>Check In</a></li>
              <li> <a>Lottery</a></li>
              <li> <a>Referral</a></li>
              <li> <a>FAQs</a></li>
              <li> <a>Whitepaper</a></li>
  
            </ul>
          </div>
        </div>
  
      </section>
  
      <router-view/>
    </section>
  
  </div>
</template>


<script>
  export default {
    data() {
      return {
        windowHeight: 0
      };
    },
  
    created() {
      window.addEventListener("resize", this.handleResize);
      this.handleResize();
    },
    methods: {
      showSideNav() {
        this.$root.chatBoxShow = false;
        if (this.$root.sideNav == false) {
          this.$root.sideNav = true;
        } else {
          this.$root.sideNav = false;
        }
      },
      handleResize() {
        this.windowHeight = window.innerHeight;
        this.windowWidth = window.innerWidth;
        if (this.windowWidth > 991) {
          this.$root.chatBoxShow = true;
        } else {
          this.$root.chatBoxShow = false;
        }
      }
    }
  };
</script>




<style>
  
</style>
