$font-stack: Helvetica,
sans-serif;
$bg-dark-color: #212419;
$light-dark-color:#070606;
$gra1-color:#438D6A;
$gra2-color:#808080;
$grey-color:#707070;
$active-color:#02E589;
$white-color:#ffffff;
$black-color:#000000;
$slider-bg-color:#8E2A32;
$danger-color:#ff5959;



body {
  font: 100% $font-stack;
  background: $bg-dark-color;
}

#side-nav {
  padding-top: 60px;
  right: 0;
  position: fixed;
  width: 350px;
  background: $bg-dark-color;

  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.08);


  @media (max-width: 991px) {

    width: 86% !important;
    z-index: 998;

  }




  .nav-close {
    border-radius: 50%;
    left: 0;
    text-align: center;
    color: $grey-color;
    position: absolute;
    margin: auto;
    width: 30px;
    height: 30px;
    border: 1px solid rgba($color: $grey-color, $alpha: 0.25);
    /* padding: 2px; */
    right: 0;
    margin-top: 20px;
    cursor: pointer;



    span {
      font-size: 14px;
      line-height: 27px;
      font-weight: bold;
    }
  }

  .nav-close:hover {

    color: white;
    border: 1px solid $white-color;
  }

  hr {
    height: 5px;
    background: rgba($color: $grey-color, $alpha: 0.25);
    margin-top: 70px;
  }
}

.text-color-white {
  color: $white-color;
}

.text-color-black {
  color: $black-color;
}

.text-color-active {
  color: $active-color;
}

#header {

  position: fixed;
  z-index: 99999999;
  background: #070606;
  height: 60px;
  width: 100%;

}

#chat-box {

  animation-name: fadeInLeftBig;

  animation-duration: 0.5s;

  animation-fill-mode: both;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.08);
  width: 350px;
  position: fixed;
  background-color: $bg-dark-color;
  padding-top: 60px;
  height: 100%;
  z-index: 9999999;



  @media (max-width: 991px) {
    display: none;
    width: 86% !important;
    z-index: 998;

  }

  #chat-box-header {
    height: 60px;
    border-bottom: 5px solid $grey-color;
  }

  p {
    width: 50%;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
  }

  .active {
    border-bottom: 5px solid $active-color;
  }


  #chat-send {
    position: absolute;
    height: 80px;
    bottom: 00px;
    width: 100%;

    @media (max-width: 991px) {
      bottom: 60px;
    }

    #chatTextarea {
      background: rgba($color: $light-dark-color, $alpha: 0.25);
      border: 0;
      height: 80px;
      max-height: 80px;
      min-height: 80px;
      color: $white-color;
      width: 100%;
      padding: 20px 78px 20px 20px;
    }

    .send-btn {
      position: absolute;
      right: 15px;
      margin-top: 15px;
      text-align: center;
      cursor: pointer;
      width: 50px;
      height: 50px;
      background-color: $gra1-color;
      background-image: linear-gradient($gra1-color, $gra2-color);
      border-radius: 50%;


    }



  }

}

#main-number-panel {

  padding-left: 380px;
  padding-top: 75px;
  height: 415px;
  margin: 0;

  @media (max-width: 991px) {
    padding-left: 10px;
    padding-right: 10px;

  }

  #sub-number-panel {
    border-top: 12px solid transparent;
    border-image: linear-gradient(to left, $gra1-color 0%, $gra2-color 100%);
    border-image-slice: 1;
    text-align: center;
    width: 48.5%;
    margin-right: 1%;
    background-color: #212419;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 20px;

    @media (max-width: 991px) {
      width: 99%;
      margin-bottom: 2%;
    }

    @media (max-width: 375px) {
      padding: 0px 12px 50px 12px;
    }


    #number {
      margin-top: 60px;
      color: white;
      display: inline-flex;

      .number-box {
        width: 180px;
        border: 1px solid;
        height: 162px;
        text-align: center;
        border-radius: 20px 0px 0px 20px;
        display: inline-grid;

        @media (max-width: 1366px) {
          width: 160px;
          height: 140px
        }

        @media (max-width: 991px) {
          width: 160px;
          height: 140px;
        }

        @media (max-width: 375px) {
          width: 130px;
          height: 120px
        }



        .shownum {
          font-weight: bold;
          font-size: 56px;
          margin: auto;

          @media (max-width: 375px) {
            font-size: 45px;
          }
        }

        .shownumsmall {
          font-size: 18px;
        }
      }

    }

    #roll-tabs {
      font-size: 18px;
      color: $white-color;
      padding: 20px;

      span {
        padding: 20px 20px 10px 20px;
        cursor: pointer;


      }

      .active {
        border-bottom: 4px solid $white-color;
      }


    }


    #slider {
      width: 600px;
      margin: 0 auto;
      height: 50px;
      background: rgba($color: $light-dark-color, $alpha: 0.25);
      border-radius: 30px;
      padding: 20px;
      position: relative;
      margin-top: 35px;
      user-select: none;

      @media (max-width: 1700px) {
        display: block;
        width: 93%;
        max-width: 550px;
        margin-top: 50px;
        height: auto;
        padding: 15px 20px;
      }

      @media (max-width:991px) {
        display: block;
        width: 95%;
        max-width: 350px;
        margin-top: 30px;
        height: auto;
        padding: 15px 20px;
      }

      >#slider-bg {
        cursor: pointer;
        width: 500px;
        height: 10px;
        background: $danger-color;
        border-radius: 10px;
        margin: 0 auto;
        position: relative;

        @media (max-width: 1700px) {
          width: 96%;
          height: 10px;
          background: $danger-color;
          border-radius: 8px;
          margin: 0 auto;
          position: relative;
        }

        @media (max-width: 991px) {
          width: 100%;
          height: 5px;
          background: $danger-color;
          border-radius: 10px;
          margin: 0 auto;
          position: relative;
        }


        #slider-end,
        #slider-start {
          color: $white-color;
          position: absolute;
          left: -16px;
          font-size: 18px;
          top: -8px;
          user-select: none;
          margin-top: 2px;


          @media (max-width: 1700px) {
            position: absolute;
            left: -10px;
            font-size: 12px;
            top: -5px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          @media (max-width:991px) {
            position: absolute;
            left: -10px;
            font-size: 12px;
            top: -8px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
        }

        #slider-end {
          right: -35px;
          left: auto;

          @media (max-width: 1700px) {
            right: -22px;
            left: auto;
          }

          @media (max-width:991px) {
            right: -18px;
            left: auto;
          }
        }


        >#slider-up {
          position: absolute;
          width: 50%;
          height: 5px;
          overflow: hidden;
          top: 0;
          left: 0;

          @media (max-width: 1700px) {
            position: absolute;
            width: 50%;
            height: 10px;
            overflow: hidden;
            top: 0;
            left: 0;
          }

          @media (max-width:991px) {
            position: absolute;
            width: 50%;
            height: 5px;
            overflow: hidden;
            top: 0;
            left: 0;
          }

          >#slider-now {

            @media (max-width: 991px) {
              width: 100%;
              height: 5px;
              background: #01f593;
              border-radius: 10px;
              margin: 0 auto;


            }

          }
        }

      }

      #slider-up {
        position: absolute;
        width: 0;
        height: 10px;
        overflow: hidden;
        top: 0;
        left: 0;
        background: $active-color;
        border-radius: 10px;
        margin: 0 auto;

        box-shadow: 2px 2px 20px $active-color;



      }


      #slider-cc {
        @media (max-width: 1700px) {
          width: 91% !important;
        }

        @media (max-width:991px) {
          width: 95% !important;
        }

        #slider-c {
          width: 30px;
          height: 30px;
          position: absolute;
          background: #fff;
          border-radius: 2px;
          top: -8px;
          left: 50px;

          cursor: grabbing !important;

          box-shadow: 2px 2px 5px #333;
          border-radius: 50%;

          @media (max-width: 1700px) {

            top: -12px;
            left: 50%;

          }

          @media (max-width:991px) {

            top: -13px;
            left: 50%;

          }

          #slider-num {
            position: absolute;
            top: -36px;
            left: -7px;
            user-select: none;
            color: $black-color;
            width: 30px;
            height: 30px;

            @media (max-width: 1700px) {
              top: -3px;
              line-height: 35px;
              position: absolute;
              left: 0;
              text-align: center;
            }

            @media (max-width:991px) {
              line-height: 30px;
              position: absolute;
              top: 0;
              left: 0;
              text-align: center;

            }
          }
        }

      }

    }





  }

  #sub-number-form-panel {
    border-top: 12px solid transparent;
    border-image: linear-gradient(to right, $gra1-color 0%, $gra2-color 100%);
    border-image-slice: 1;
    color: $white-color;
    width: 48.5%;
    background-color: $bg-dark-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 20px;

    @media (max-width: 991px) {
      width: 99%;
    }

    .text-size {
      font-size: 16px !important;
    }

    .textbox-dark {
      color: white;
      height: 45px;
      font-size: 22px;
      width: 100%;
      text-align: center;
      padding: 0px 10px 0px 10px;
      border-radius: 5px;
      background: rgba($color: $light-dark-color, $alpha: 0.25);
      border: 1px solid;
      border-color: $grey-color;


    }

    .dark-box {
      color: white;
      height: 45px;
      font-size: 22px;
      width: 100%;
      text-align: center;
      padding: 0px 10px 0px 10px;
      border-radius: 5px;
      background: rgba($color: $light-dark-color, $alpha: 0.25);

      border: 1px solid;
      border-color: $grey-color;

      span {
        line-height: 45px;
      }
    }

    .btn-gradient-gs {
      border-radius: 5px;
      height: 46px;
      width: 100%;
      border: 0;
      color: $white-color;
      background: $gra1-color;
      background-image: linear-gradient($gra1-color, $gra2-color);
    }

    .ly-switch {
      position: absolute !important;
      left: 10px;
      width: 80px !important;
      top: -5px !important;
      height: 30px !important;
      border-radius: 20px;
      display: inline-block;
      position: relative;
      background: hsla(0, 0%, 100%, .5);
      cursor: pointer;

      p {
        width: 40px !important;
        height: 26px !important;
        line-height: 26px !important;
        font-size: 10px !important;
        width: 42px;
        font-weight: 800;
        font-size: 13px;
        color: #565656;
        height: 26px;
        background: #eee;
        position: absolute;
        left: 2px;
        text-align: center;
        line-height: 26px;
        border-radius: 20px;
        top: 2px;
      }
    }

    .ly-switch.open p {
      left: auto;
      right: 2px;
      color: $active-color;
    }

    .ly-switch.open {
      background: $active-color;
    }



    .ly-switch .hide {
      display: none;
    }

    .ly-switch span {
      font-size: 14px !important;
      left: -20px !important;
      top: -25px !important;
      position: absolute;
      display: inline-block;
      font-weight: 800;
      font-size: 18px;
      z-index: 666;
      color: $white-color;
      text-align: center;
      width: 100%;
      bottom: -20px;



    }





  }

  #sub-data-panel {
    margin-bottom: 30px;
    text-align: center;
    width: 98%;
    padding-bottom: 30px;
    min-height: 280px;

    background-color: $bg-dark-color;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px 0 rgba(0, 0, 0, 0.08);

    .data-tab {

      background: rgba($color: $light-dark-color, $alpha: 0.25);
      color: $grey-color;
      padding: 20px;
      height: 70px;

      ul {
        padding: 0;
        list-style: none;
        display: inline-flex;
        padding-bottom: 0;
        margin: auto;
        font-size: 14px;

        @media (max-width: 375px) {
          font-size: 8px;
        }


        li {
          height: 35px;
          width: 112px;
          border: 1px solid $grey-color;
          margin-right: 5px;
          cursor: pointer;

          @media (max-width: 375px) {
            width: 70px;
          }



          a {
            line-height: 32px;
          }
        }

        .active {
          color: $white-color;
          border: 1px solid $white-color;
        }
      }

    }
  }


  #list-table {
    border: none;
    width: 100%;
    margin-top: 20px;
    color: white;

    tr {
      padding: 0 15px !important;
    }

    th {
      font-size: 12px !important;
    }

    .list-th {
      width: 20% !important;
      text-align: center !important;
    }

    .adj-th {
      width: 0 !important;
    }
  }



}

#sub-data-panel>table>tbody>tr {
  height: 46px;
  font-size: 12px;
}

#sub-data-panel>table>tbody>tr:nth-child(2n) {
  background: rgba($color: $grey-color, $alpha: 0.09);
}

.hide {

  animation-name: fadeInLeftBig;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  display: none;
}

.show {
  display: inline !important;
  // animation-name: fadeInRightBig;
  // animation-duration: 0.5s;
  // animation-fill-mode: both;
}

.winc {
  color: $active-color;
}

.losec {
  color: $danger-color;
}

.ovh {
  overflow: hidden;
}

.chat-item {
  padding: 0;
  position: relative;
  width: 100%;
}

#chat-content {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  color: white;
}

.chat-msg {
  color: #bbb;
  padding: 5px 20px;
  line-height: 30px;
  font-size: 18px;
  word-wrap: break-word;

  img {
    width: 35px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 4px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid;
  }

  .message {
    color: $white-color
  }
}

.chat-item .name {
  font-size: 18px;
  color: $grey-color;
  cursor: pointer;
}


#chat-rank table {
  width: 100%;
  margin-top: 10px;
  color: $white-color;
}

.online {
  color: $active-color;
}

#chat-rank table tr {
  height: 30px;
  font-size: 12px;
}

#chat-rank-sc {
  height: 200px;
  overflow-y: scroll;
  font-size: 18px;
}

#chat-rank table td {
  text-align: center;
}



//header
#gamestation-menu {
  list-style: none;
  display: inline-block;
  height: 60px;
  vertical-align: top;
  line-height: 60px;
  margin-bottom: 0;
  padding-left: 340px;

  @media (max-width: 991px) {
    display: none;
  }

  @media (max-width: 1100px) {
    display: none;
  }
}

#gamestation-menu li {
  display: inline-block;
  margin-left: 30px;
  color: rgba($color: #B7CCC2, $alpha: 0.77);
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#gamestation-social-menu{
    color: white;
    list-style: none;
    display: inline-flex;
    align-items: left;
    position: absolute;
    right: 20px;
    line-height: 60px;


    @media (max-width: 1100px) {
      margin: auto;
    }
    @media (max-width: 991px) {
      margin: auto;
    }


   
    li{
      padding: 0px 10px 0px 10px;

      img{
        width: 30px;
        height: 30px;
      }
    }

}


#header-title {
  width: 350px;
  margin: auto;
  color: white;
  height: 60px;
  line-height: 60px;
  position: absolute;
  left: 20px;
  font-size: 27px;
}

#show-nav-side-menu {

  position: absolute;
  color: #ffffff;
  right: 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;

  @media (max-width: 991px) {
    display: inline;
  }

  @media (max-width: 1100px) {
    display: inline;
  }
}

.header-message {
  margin-top: 15px;
  line-height: 60px;
  width: 30px;
  /* position: absolute; */
  /* left: 20px; */
  /* top: 15px; */
  display: none;
  cursor: pointer;
  margin-left: 20px;

  @media (max-width: 991px) {
    display: inline;
  }
}

#nav-panel {
  color: $white-color;

  ul {
    list-style: none;
    padding: 0;

    li {
      cursor: pointer;
      font-size: 20px;
      padding: 12px;
      border-bottom: 1px solid rgba($color: $light-dark-color, $alpha: 0.25);


    }
  }

  li:hover {
    background-color: $gra1-color;
    background-image: linear-gradient($gra1-color, $gra2-color);
  }

  .active {
    background-color: rgba($color: $light-dark-color, $alpha: 0.25);
  }
}

#footer-message-small {

  width: 100%;
  background: $light-dark-color;
  height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 999999;
  display: none;
  text-align: center;


  @media (max-width: 991px) {
    display: inline;
  }

}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.label-btn {
  margin-top: 2px;
  font-size: 12px;
  margin-right: 10px;
  width: 30px;
  height: 20px;
  border: 1px solid $grey-color;
  text-align: center;
  line-height: 20px;
  color: $grey-color;
  cursor: pointer;
  padding: 0px 5px 0px 5px;


}

// .x{
//   display: inline-flex;

//   @media (max-width: 1366px) {
//     display: table-caption;;
//   }


// }

.label-btn:hover {
  color: $white-color;
  border: 1px solid $white-color;
}



.switcher-lg {
  width: 300px;
  text-align: center;
  position: relative;
  @media (max-width:1700px) {
    width: 100%;
  }
  @media (max-width:991px) {
    width: 100%;
  }
}


.switcher {
  border: 1px solid $grey-color;
  border-radius: 4px;
  display: inline-block;
  font-size: 22px;
  width: 140px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color:$white-color;
  margin-top: 5px;
  background-color: rgba($color: $light-dark-color, $alpha: 0.25);
  position: relative;

  @media (max-width:1700px) {
    width: 100%;
    height: 45px!important;
    line-height: 45px!important;
  }
  @media (max-width:991px) {
    font-size: 22px!important;
    width: 100%;
    height: 45px!important;
    line-height: 45px!important;
  }
}

.coinType {
  position: absolute;
  background: rgba($color: $light-dark-color, $alpha: 1);;
  width: 100%;
  z-index: 888;
  cursor: pointer;
  right: 0;
  top: 43px;
  border: 1px solid $grey-color;

  user-select: none;
  outline: none;

  @media (max-width: 991px){
    top: 41px;
  }


  p{
    width: 100%;
    position: relative;
    text-align: center;
    height: 44px;
    line-height: 45px;
    margin: 0;
    font-size: 28px;
    border-top: 1px solid $grey-color;
    @media (max-width: 1700px){
      font-size: 18px!important;
    height: 35px;
    line-height: 35px;
    }
    @media (max-width: 991px){
      font-size: 20px;
    }


}


}

.swi-icon{

  position: absolute;
  line-height: 44px;
  right: 6px;
  top: 15px;

}

.ui-slider-containment {
  left: 0;
  right: 0;
  position: absolute;
  // margin-left: -($thumb-container-size / 2) - ($track-height / 2);
  // margin-right: -($thumb-container-size / 2) - ($track-height / 2);
}




//modal-mask

.modal-mask {

  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
 

  width: 700px;
  margin: 0px auto;
  padding: 10px 10px;
  // background-color: rgba(0, 0, 0, .6);
  // border: 3px solid #01f593;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  color: $white-color;


  @media (max-width:1100px) {
    width: 600px;
  }
  @media (max-width:991px) {
    width: 550px;
  }
 
  @media (max-width:375px) {
    width: 300px;
  }

 
}

.bg-color{
  background-color: $bg-dark-color;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  
  margin: 10px;
  
  .circle{
    width: 150px;
    height: 150px;
    background-color: $light-dark-color;
    margin: auto;
    border-radius: 50%;
    border: 8px solid white;
    position: relative;
    color: $white-color;
    text-align: center;

    span{
      font-size: 50px;
      font-weight: bold;
      position: absolute;
      right: 0;
      left: 0;
      top: 28px;
      bottom: 0;
    }

  }
}

.modal-default-button {
  float: right;
}


.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bet-selection{
  list-style: none;
  padding: 0;
  display: inline-flex;

  li{
    padding-right: 15px;
  }
}
.bet-selection-option{
  list-style: none;
  padding: 0;
  display: inline-block;

  li{
    padding-right: 15px;
  }
}



//radio button

.form-checker
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color:$white-color;
     color: $grey-color;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-checker:checked::before
{
  position: absolute;
  font: 15px/1 'Open Sans', sans-serif;
  left: 8px;
  top: 8px;
  content: '\2388';
}
.form-checker:hover
{
     background-color: #f7f7f7;
}
.form-checker:checked
{
     background-color: #f1f1f1;
}
