body {
  font: 100% Helvetica, sans-serif;
  background: #212419;
}

#side-nav {
  padding-top: 60px;
  right: 0;
  position: fixed;
  width: 350px;
  background: #212419;
  height: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

@media (max-width: 991px) {
  #side-nav {
    width: 86% !important;
    z-index: 998;
  }
}

#side-nav .nav-close {
  border-radius: 50%;
  left: 0;
  text-align: center;
  color: #707070;
  position: absolute;
  margin: auto;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(112, 112, 112, 0.25);
  /* padding: 2px; */
  right: 0;
  margin-top: 20px;
  cursor: pointer;
}

#side-nav .nav-close span {
  font-size: 14px;
  line-height: 27px;
  font-weight: bold;
}

#side-nav .nav-close:hover {
  color: white;
  border: 1px solid #ffffff;
}

#side-nav hr {
  height: 5px;
  background: rgba(112, 112, 112, 0.25);
  margin-top: 70px;
}

.text-color-white {
  color: #ffffff;
}

.text-color-black {
  color: #000000;
}

.text-color-active {
  color: #02E589;
}

#header {
  position: fixed;
  z-index: 99999999;
  background: #070606;
  height: 60px;
  width: 100%;
}

#chat-box {
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  width: 350px;
  position: fixed;
  background-color: #212419;
  padding-top: 60px;
  height: 100%;
  z-index: 9999999;
}

@media (max-width: 991px) {
  #chat-box {
    display: none;
    width: 86% !important;
    z-index: 998;
  }
}

#chat-box #chat-box-header {
  height: 60px;
  border-bottom: 5px solid #707070;
}

#chat-box p {
  width: 50%;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  height: 60px;
  cursor: pointer;
  position: relative;
}

#chat-box .active {
  border-bottom: 5px solid #02E589;
}

#chat-box #chat-send {
  position: absolute;
  height: 80px;
  bottom: 00px;
  width: 100%;
}

@media (max-width: 991px) {
  #chat-box #chat-send {
    bottom: 60px;
  }
}

#chat-box #chat-send #chatTextarea {
  background: rgba(7, 6, 6, 0.25);
  border: 0;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  color: #ffffff;
  width: 100%;
  padding: 20px 78px 20px 20px;
}

#chat-box #chat-send .send-btn {
  position: absolute;
  right: 15px;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #438D6A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#438D6A), to(#808080));
  background-image: linear-gradient(#438D6A, #808080);
  border-radius: 50%;
}

#main-number-panel {
  padding-left: 380px;
  padding-top: 75px;
  height: 415px;
  margin: 0;
}

@media (max-width: 991px) {
  #main-number-panel {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#main-number-panel #sub-number-panel {
  border-top: 12px solid transparent;
  -o-border-image: linear-gradient(to left, #438D6A 0%, #808080 100%);
     border-image: -webkit-gradient(linear, right top, left top, from(#438D6A), to(#808080));
     border-image: linear-gradient(to left, #438D6A 0%, #808080 100%);
  border-image-slice: 1;
  text-align: center;
  width: 48.5%;
  margin-right: 1%;
  background-color: #212419;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 20px;
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-panel {
    width: 99%;
    margin-bottom: 2%;
  }
}

@media (max-width: 375px) {
  #main-number-panel #sub-number-panel {
    padding: 0px 12px 50px 12px;
  }
}

#main-number-panel #sub-number-panel #number {
  margin-top: 60px;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#main-number-panel #sub-number-panel #number .number-box {
  width: 180px;
  border: 1px solid;
  height: 162px;
  text-align: center;
  border-radius: 20px 0px 0px 20px;
  display: -ms-inline-grid;
  display: inline-grid;
}

@media (max-width: 1366px) {
  #main-number-panel #sub-number-panel #number .number-box {
    width: 160px;
    height: 140px;
  }
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-panel #number .number-box {
    width: 160px;
    height: 140px;
  }
}

@media (max-width: 375px) {
  #main-number-panel #sub-number-panel #number .number-box {
    width: 130px;
    height: 120px;
  }
}

#main-number-panel #sub-number-panel #number .number-box .shownum {
  font-weight: bold;
  font-size: 56px;
  margin: auto;
}

@media (max-width: 375px) {
  #main-number-panel #sub-number-panel #number .number-box .shownum {
    font-size: 45px;
  }
}

#main-number-panel #sub-number-panel #number .number-box .shownumsmall {
  font-size: 18px;
}

#main-number-panel #sub-number-panel #roll-tabs {
  font-size: 18px;
  color: #ffffff;
  padding: 20px;
}

#main-number-panel #sub-number-panel #roll-tabs span {
  padding: 20px 20px 10px 20px;
  cursor: pointer;
}

#main-number-panel #sub-number-panel #roll-tabs .active {
  border-bottom: 4px solid #ffffff;
}

#main-number-panel #sub-number-panel #slider {
  width: 600px;
  margin: 0 auto;
  height: 50px;
  background: rgba(7, 6, 6, 0.25);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  margin-top: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1700px) {
  #main-number-panel #sub-number-panel #slider {
    display: block;
    width: 93%;
    max-width: 550px;
    margin-top: 50px;
    height: auto;
    padding: 15px 20px;
  }
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-panel #slider {
    display: block;
    width: 95%;
    max-width: 350px;
    margin-top: 30px;
    height: auto;
    padding: 15px 20px;
  }
}

#main-number-panel #sub-number-panel #slider > #slider-bg {
  cursor: pointer;
  width: 500px;
  height: 10px;
  background: #ff5959;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1700px) {
  #main-number-panel #sub-number-panel #slider > #slider-bg {
    width: 96%;
    height: 10px;
    background: #ff5959;
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
  }
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-panel #slider > #slider-bg {
    width: 100%;
    height: 5px;
    background: #ff5959;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
  }
}

#main-number-panel #sub-number-panel #slider > #slider-bg #slider-end,
#main-number-panel #sub-number-panel #slider > #slider-bg #slider-start {
  color: #ffffff;
  position: absolute;
  left: -16px;
  font-size: 18px;
  top: -8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 2px;
}

@media (max-width: 1700px) {
  #main-number-panel #sub-number-panel #slider > #slider-bg #slider-end,
  #main-number-panel #sub-number-panel #slider > #slider-bg #slider-start {
    position: absolute;
    left: -10px;
    font-size: 12px;
    top: -5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-panel #slider > #slider-bg #slider-end,
  #main-number-panel #sub-number-panel #slider > #slider-bg #slider-start {
    position: absolute;
    left: -10px;
    font-size: 12px;
    top: -8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

#main-number-panel #sub-number-panel #slider > #slider-bg #slider-end {
  right: -35px;
  left: auto;
}

@media (max-width: 1700px) {
  #main-number-panel #sub-number-panel #slider > #slider-bg #slider-end {
    right: -22px;
    left: auto;
  }
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-panel #slider > #slider-bg #slider-end {
    right: -18px;
    left: auto;
  }
}

#main-number-panel #sub-number-panel #slider > #slider-bg > #slider-up {
  position: absolute;
  width: 50%;
  height: 5px;
  overflow: hidden;
  top: 0;
  left: 0;
}

@media (max-width: 1700px) {
  #main-number-panel #sub-number-panel #slider > #slider-bg > #slider-up {
    position: absolute;
    width: 50%;
    height: 10px;
    overflow: hidden;
    top: 0;
    left: 0;
  }
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-panel #slider > #slider-bg > #slider-up {
    position: absolute;
    width: 50%;
    height: 5px;
    overflow: hidden;
    top: 0;
    left: 0;
  }
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-panel #slider > #slider-bg > #slider-up > #slider-now {
    width: 100%;
    height: 5px;
    background: #01f593;
    border-radius: 10px;
    margin: 0 auto;
  }
}

#main-number-panel #sub-number-panel #slider #slider-up {
  position: absolute;
  width: 0;
  height: 10px;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #02E589;
  border-radius: 10px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 20px #02E589;
          box-shadow: 2px 2px 20px #02E589;
}

@media (max-width: 1700px) {
  #main-number-panel #sub-number-panel #slider #slider-cc {
    width: 91% !important;
  }
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-panel #slider #slider-cc {
    width: 95% !important;
  }
}

#main-number-panel #sub-number-panel #slider #slider-cc #slider-c {
  width: 30px;
  height: 30px;
  position: absolute;
  background: #fff;
  border-radius: 2px;
  top: -8px;
  left: 50px;
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
  -webkit-box-shadow: 2px 2px 5px #333;
          box-shadow: 2px 2px 5px #333;
  border-radius: 50%;
}

@media (max-width: 1700px) {
  #main-number-panel #sub-number-panel #slider #slider-cc #slider-c {
    top: -12px;
    left: 50%;
  }
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-panel #slider #slider-cc #slider-c {
    top: -13px;
    left: 50%;
  }
}

#main-number-panel #sub-number-panel #slider #slider-cc #slider-c #slider-num {
  position: absolute;
  top: -36px;
  left: -7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #000000;
  width: 30px;
  height: 30px;
}

@media (max-width: 1700px) {
  #main-number-panel #sub-number-panel #slider #slider-cc #slider-c #slider-num {
    top: -3px;
    line-height: 35px;
    position: absolute;
    left: 0;
    text-align: center;
  }
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-panel #slider #slider-cc #slider-c #slider-num {
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
}

#main-number-panel #sub-number-form-panel {
  border-top: 12px solid transparent;
  -o-border-image: linear-gradient(to right, #438D6A 0%, #808080 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#438D6A), to(#808080));
     border-image: linear-gradient(to right, #438D6A 0%, #808080 100%);
  border-image-slice: 1;
  color: #ffffff;
  width: 48.5%;
  background-color: #212419;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 20px;
}

@media (max-width: 991px) {
  #main-number-panel #sub-number-form-panel {
    width: 99%;
  }
}

#main-number-panel #sub-number-form-panel .text-size {
  font-size: 16px !important;
}

#main-number-panel #sub-number-form-panel .textbox-dark {
  color: white;
  height: 45px;
  font-size: 22px;
  width: 100%;
  text-align: center;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  background: rgba(7, 6, 6, 0.25);
  border: 1px solid;
  border-color: #707070;
}

#main-number-panel #sub-number-form-panel .dark-box {
  color: white;
  height: 45px;
  font-size: 22px;
  width: 100%;
  text-align: center;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  background: rgba(7, 6, 6, 0.25);
  border: 1px solid;
  border-color: #707070;
}

#main-number-panel #sub-number-form-panel .dark-box span {
  line-height: 45px;
}

#main-number-panel #sub-number-form-panel .btn-gradient-gs {
  border-radius: 5px;
  height: 46px;
  width: 100%;
  border: 0;
  color: #ffffff;
  background: #438D6A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#438D6A), to(#808080));
  background-image: linear-gradient(#438D6A, #808080);
}

#main-number-panel #sub-number-form-panel .ly-switch {
  position: absolute !important;
  left: 10px;
  width: 80px !important;
  top: -5px !important;
  height: 30px !important;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

#main-number-panel #sub-number-form-panel .ly-switch p {
  width: 40px !important;
  height: 26px !important;
  line-height: 26px !important;
  font-size: 10px !important;
  width: 42px;
  font-weight: 800;
  font-size: 13px;
  color: #565656;
  height: 26px;
  background: #eee;
  position: absolute;
  left: 2px;
  text-align: center;
  line-height: 26px;
  border-radius: 20px;
  top: 2px;
}

#main-number-panel #sub-number-form-panel .ly-switch.open p {
  left: auto;
  right: 2px;
  color: #02E589;
}

#main-number-panel #sub-number-form-panel .ly-switch.open {
  background: #02E589;
}

#main-number-panel #sub-number-form-panel .ly-switch .hide {
  display: none;
}

#main-number-panel #sub-number-form-panel .ly-switch span {
  font-size: 14px !important;
  left: -20px !important;
  top: -25px !important;
  position: absolute;
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  z-index: 666;
  color: #ffffff;
  text-align: center;
  width: 100%;
  bottom: -20px;
}

#main-number-panel #sub-data-panel {
  margin-bottom: 30px;
  text-align: center;
  width: 98%;
  padding-bottom: 30px;
  min-height: 280px;
  background-color: #212419;
  margin-top: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

#main-number-panel #sub-data-panel .data-tab {
  background: rgba(7, 6, 6, 0.25);
  color: #707070;
  padding: 20px;
  height: 70px;
}

#main-number-panel #sub-data-panel .data-tab ul {
  padding: 0;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-bottom: 0;
  margin: auto;
  font-size: 14px;
}

@media (max-width: 375px) {
  #main-number-panel #sub-data-panel .data-tab ul {
    font-size: 8px;
  }
}

#main-number-panel #sub-data-panel .data-tab ul li {
  height: 35px;
  width: 112px;
  border: 1px solid #707070;
  margin-right: 5px;
  cursor: pointer;
}

@media (max-width: 375px) {
  #main-number-panel #sub-data-panel .data-tab ul li {
    width: 70px;
  }
}

#main-number-panel #sub-data-panel .data-tab ul li a {
  line-height: 32px;
}

#main-number-panel #sub-data-panel .data-tab ul .active {
  color: #ffffff;
  border: 1px solid #ffffff;
}

#main-number-panel #list-table {
  border: none;
  width: 100%;
  margin-top: 20px;
  color: white;
}

#main-number-panel #list-table tr {
  padding: 0 15px !important;
}

#main-number-panel #list-table th {
  font-size: 12px !important;
}

#main-number-panel #list-table .list-th {
  width: 20% !important;
  text-align: center !important;
}

#main-number-panel #list-table .adj-th {
  width: 0 !important;
}

#sub-data-panel > table > tbody > tr {
  height: 46px;
  font-size: 12px;
}

#sub-data-panel > table > tbody > tr:nth-child(2n) {
  background: rgba(112, 112, 112, 0.09);
}

.hide {
  -webkit-animation-name: fadeInLeftBig;
          animation-name: fadeInLeftBig;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: none;
}

.show {
  display: inline !important;
}

.winc {
  color: #02E589;
}

.losec {
  color: #ff5959;
}

.ovh {
  overflow: hidden;
}

.chat-item {
  padding: 0;
  position: relative;
  width: 100%;
}

#chat-content {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  color: white;
}

.chat-msg {
  color: #bbb;
  padding: 5px 20px;
  line-height: 30px;
  font-size: 18px;
  word-wrap: break-word;
}

.chat-msg img {
  width: 35px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 4px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid;
}

.chat-msg .message {
  color: #ffffff;
}

.chat-item .name {
  font-size: 18px;
  color: #707070;
  cursor: pointer;
}

#chat-rank table {
  width: 100%;
  margin-top: 10px;
  color: #ffffff;
}

.online {
  color: #02E589;
}

#chat-rank table tr {
  height: 30px;
  font-size: 12px;
}

#chat-rank-sc {
  height: 200px;
  overflow-y: scroll;
  font-size: 18px;
}

#chat-rank table td {
  text-align: center;
}

#gamestation-menu {
  list-style: none;
  display: inline-block;
  height: 60px;
  vertical-align: top;
  line-height: 60px;
  margin-bottom: 0;
  padding-left: 340px;
}

@media (max-width: 991px) {
  #gamestation-menu {
    display: none;
  }
}

@media (max-width: 1100px) {
  #gamestation-menu {
    display: none;
  }
}

#gamestation-menu li {
  display: inline-block;
  margin-left: 30px;
  color: rgba(183, 204, 194, 0.77);
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#gamestation-social-menu {
  color: white;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: absolute;
  right: 20px;
  line-height: 60px;
}

@media (max-width: 1100px) {
  #gamestation-social-menu {
    margin: auto;
  }
}

@media (max-width: 991px) {
  #gamestation-social-menu {
    margin: auto;
  }
}

#gamestation-social-menu li {
  padding: 0px 10px 0px 10px;
}

#gamestation-social-menu li img {
  width: 30px;
  height: 30px;
}

#header-title {
  width: 350px;
  margin: auto;
  color: white;
  height: 60px;
  line-height: 60px;
  position: absolute;
  left: 20px;
  font-size: 27px;
}

#show-nav-side-menu {
  position: absolute;
  color: #ffffff;
  right: 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  #show-nav-side-menu {
    display: inline;
  }
}

@media (max-width: 1100px) {
  #show-nav-side-menu {
    display: inline;
  }
}

.header-message {
  margin-top: 15px;
  line-height: 60px;
  width: 30px;
  /* position: absolute; */
  /* left: 20px; */
  /* top: 15px; */
  display: none;
  cursor: pointer;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .header-message {
    display: inline;
  }
}

#nav-panel {
  color: #ffffff;
}

#nav-panel ul {
  list-style: none;
  padding: 0;
}

#nav-panel ul li {
  cursor: pointer;
  font-size: 20px;
  padding: 12px;
  border-bottom: 1px solid rgba(7, 6, 6, 0.25);
}

#nav-panel li:hover {
  background-color: #438D6A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#438D6A), to(#808080));
  background-image: linear-gradient(#438D6A, #808080);
}

#nav-panel .active {
  background-color: rgba(7, 6, 6, 0.25);
}

#footer-message-small {
  width: 100%;
  background: #070606;
  height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 999999;
  display: none;
  text-align: center;
}

@media (max-width: 991px) {
  #footer-message-small {
    display: inline;
  }
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.label-btn {
  margin-top: 2px;
  font-size: 12px;
  margin-right: 10px;
  width: 30px;
  height: 20px;
  border: 1px solid #707070;
  text-align: center;
  line-height: 20px;
  color: #707070;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
}

.label-btn:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.switcher-lg {
  width: 300px;
  text-align: center;
  position: relative;
}

@media (max-width: 1700px) {
  .switcher-lg {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .switcher-lg {
    width: 100%;
  }
}

.switcher {
  border: 1px solid #707070;
  border-radius: 4px;
  display: inline-block;
  font-size: 22px;
  width: 140px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
  background-color: rgba(7, 6, 6, 0.25);
  position: relative;
}

@media (max-width: 1700px) {
  .switcher {
    width: 100%;
    height: 45px !important;
    line-height: 45px !important;
  }
}

@media (max-width: 991px) {
  .switcher {
    font-size: 22px !important;
    width: 100%;
    height: 45px !important;
    line-height: 45px !important;
  }
}

.coinType {
  position: absolute;
  background: #070606;
  width: 100%;
  z-index: 888;
  cursor: pointer;
  right: 0;
  top: 43px;
  border: 1px solid #707070;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

@media (max-width: 991px) {
  .coinType {
    top: 41px;
  }
}

.coinType p {
  width: 100%;
  position: relative;
  text-align: center;
  height: 44px;
  line-height: 45px;
  margin: 0;
  font-size: 28px;
  border-top: 1px solid #707070;
}

@media (max-width: 1700px) {
  .coinType p {
    font-size: 18px !important;
    height: 35px;
    line-height: 35px;
  }
}

@media (max-width: 991px) {
  .coinType p {
    font-size: 20px;
  }
}

.swi-icon {
  position: absolute;
  line-height: 44px;
  right: 6px;
  top: 15px;
}

.ui-slider-containment {
  left: 0;
  right: 0;
  position: absolute;
}

.modal-mask {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: table;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 700px;
  margin: 0px auto;
  padding: 10px 10px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}

@media (max-width: 1100px) {
  .modal-container {
    width: 600px;
  }
}

@media (max-width: 991px) {
  .modal-container {
    width: 550px;
  }
}

@media (max-width: 375px) {
  .modal-container {
    width: 300px;
  }
}

.bg-color {
  background-color: #212419;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 10px;
}

.modal-body .circle {
  width: 150px;
  height: 150px;
  background-color: #070606;
  margin: auto;
  border-radius: 50%;
  border: 8px solid white;
  position: relative;
  color: #ffffff;
  text-align: center;
}

.modal-body .circle span {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  right: 0;
  left: 0;
  top: 28px;
  bottom: 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bet-selection {
  list-style: none;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.bet-selection li {
  padding-right: 15px;
}

.bet-selection-option {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.bet-selection-option li {
  padding-right: 15px;
}

.form-checker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #ffffff;
  color: #707070;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.form-checker:checked::before {
  position: absolute;
  font: 15px/1 'Open Sans', sans-serif;
  left: 8px;
  top: 8px;
  content: '\2388';
}

.form-checker:hover {
  background-color: #f7f7f7;
}

.form-checker:checked {
  background-color: #f1f1f1;
}
/*# sourceMappingURL=main-v1-0015fa.css.map */